@use '../main/variables'
@use '../main/mixins'

.deploy-projects-container
  background-color: variables.$bg-color
  border-radius: variables.$container-border-radius
  padding: 3rem
  display: flex
  flex-direction: column
  z-index: 0

  @media (max-width: 730px)
    margin-top: 2rem // ✅ garante espaço entre os blocos

  h2
    @include mixins.center
    color: variables.$text-color
    font-size: 2.2rem
    margin-bottom: 1.3rem
    gap: 1rem

    &:after
      @include mixins.gradient-border

  ul
    display: flex
    flex-wrap: wrap
    gap: 2rem
    padding: 0
    list-style: none

  li
    background-color: variables.$bg-color-secondary
    padding: 1rem 1.5rem
    border-radius: variables.$card-border-radius
    display: flex
    align-items: center
    gap: .6rem

    .project-link
      color: variables.$text-color
      font-weight: bold
      text-decoration: none
      display: flex
      align-items: center
      gap: 0.5rem
      transition: color 0.3s ease

      &:hover
        color: variables.$text-color-secondary

    .icon
      font-size: 1.5rem

    #icon-faBullhorn
      color: #3b82f6

    #icon-dumbbell
      color: #ff9900

    #icon-fatools
      color: #8C8FC2

    #icon-movies
      color: #e50914

    #icon-truckMoving
      color: #22c55e

// .custom-icon
//   width: 2.5rem
//   height: 2.5rem
//   object-fit: contain
//   display: block
