@use '../main/variables'
@use '../main/mixins'

.technologies-container
    display: flex
    flex-direction: column
    flex: 1
    overflow: hidden // impede crescimento além da altura do MainContent
    max-height: 100%

    h2
        padding: 1rem 0
        font-size: 2.2rem
        color: variables.$text-color

    .technologies-grid
        flex: 1
        overflow-y: auto // ✅ o scroll agora está apenas aqui
        padding-right: 0.5rem
        display: flex
        flex-wrap: wrap
        gap: 1.5rem

        &::-webkit-scrollbar
            width: 6px

        &::-webkit-scrollbar-thumb
            background-color: variables.$text-color-secondary
            border-radius: 4px

    .technology-card
        @include mixins.center
        gap: 1rem
        padding: 1rem
        border: 1px solid #333
        width: 30%
        border-radius: variables.$card-border-radius

        h3
            color: variables.$text-color

        svg
            font-size: 5rem

    #html
        svg
            color: #E44D26

    #css
        svg
            color: #99365A

    #js
        svg
            color: #F0DB4F

    #node
        svg
            color: #83CD29

    #mysql
        svg
            color: #00618A

    #react
        svg
            color: #61DAFB

    #mongodb
        svg
            color: #47A946

    #php
        svg
            color: #8C8FC2

    #next
        svg
            color: #c17ceb

    #nestjs
        svg
            color: #E0234E

    #ts
        svg
            color: #3178C6

    #prisma
        svg
            color: #0C344B

    #tailwind
        svg
            color: #38BDF8
